
.PORTADA{
background-color: #000000;
    border: 0px solid rgb(255, 255, 255);
    font-size: 10px;
    width: 85%;
    background-color: rgb(0, 0, 0);
    border: 30px solid rgb(0, 0, 0);
    padding: 0px;
    margin: 0px 0px 600px 55px;
    border-radius: 0px;
    font-family:
}   
h1 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    background-color: rgb(0, 179, 255);
    border: 10px solid rgb(255, 157, 0);
    padding: 5px;
    margin: 10px 10px 20px 100px;
    border-radius: 50px;
    font-family:
}
h2 {
color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(255, 255, 255);
    padding: 5px;
    margin: 10px 10px 20px 100px;
    border-radius: 50px;
    font-family:
}